*.ipynb
*.py[cod]

*.xlsx
*.csv
*.db
*.db-journal
*.db-shm
*.db-wal

*.bat
*.tex

.history/
.vscode/

__pycache__/
/data/
/figure/
/log/
/result/
/script/
/checkpoint/

report.md
to-do.md

*NoiseAfterScale*
*ShareData*
*MultiVal*